<div class="w3-bar w3-black w3-padding-16">
  <a [routerLink]="['home']" class="w3-bar-item w3-button w3-mobile">Home</a>
  <a [routerLink]="['about-us']" class="w3-bar-item w3-button w3-mobile">About us</a>
  <a [routerLink]="['portfolio']" class="w3-bar-item w3-button w3-mobile">Portfolio</a>
  <a [routerLink]="['services']" class="w3-bar-item w3-button w3-mobile">Services</a>
  <a [routerLink]="['contact-us']" class="w3-bar-item w3-button w3-mobile">Contact us</a>
</div>

<div class="w3-padding-64">
  <router-outlet></router-outlet>
</div>